.gBG {
  background-color: #c4c4c4;
}

.infoContent {
  height: 100vh;
  width: 80vw;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .infoContent {
    /* height: 100vh; */
    /* width: 100vw; */
    flex-direction: column;
  }
}
